@media screen and  (minwidth: 1201px){
    .section{
        font-size: 14px;
    }
}

@media screen and  (max-width: 1200px){
    .section{
        font-size: 12px;
    }
}

@media screen and  (max-width: 800px){
    .section{
        font-size: 6px;
    }
}

@media screen and  (max-width: 800px){
    .section{
        font-size: 3px;
    }
}